docs
dist
resources
node_modules
package-lock.json
git_push.sh
tmp
docker
log.md
.Rproj.user
.env
GeoPick.Rproj
**/._*
**/.DS_Store
.Rhistory
grt_api.patch
.RData
.Rhistory
R/tests
ui.html
ui.js
ui.css
ui.md
.vscode
flask_api/__pycache__/*
flask_api/tests/__pycache__/
flask_api/.idea/
flask_api/db
venv
flask_api/commands/__pycache__/
flask_api/migrations/__pycache__/
flask_api/migrations/versions/__pycache__/
*.pyc
.npm
notebooks/matomo_params.json