.DS_Store
.env
.npm
.RData
.Rhistory
.Rhistory
.Rproj.user
.vscode
.vscode
*.pyc
*.ipynb
.ipynb_checkpoints
**/._*
**/.DS_Store
dist
docker
docs
flask_api/__pycache__/*
flask_api/.idea/
flask_api/commands/__pycache__/
flask_api/db
flask_api/migrations/__pycache__/
flask_api/migrations/versions/__pycache__/
flask_api/tests/__pycache__/
GeoPick.Rproj
git_push.sh
grt_api.patch
log.md
node_modules
notebooks/matomo_params.json
package-lock.json
flask_api/__pycache__
R/tests
resources
tmp
ui.css
ui.html
ui.js
ui.md
venv
