
html,
body {
  /*height: 100vh;
  padding: 0;
  margin: 0;*/
  font-size: 0.9em;
  /* overflow-x: hidden; */
}

/*
#container {
  height: 100%;
}
*/

#map {    
  height: 100%;
  min-height: 500px;
}

div.info_box {
  background: red;    
  width: 100px;
  height: 100px;  
}

.about{
  text-align: right;
  margin-right: 1.5rem;
  margin-bottom: 5px;
  margin-left: 1rem;
  padding-bottom: 15px;
}

#info{
  padding: 10px;
  padding-right: 20px;  
  z-index: 9999;
  /*border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;*/  
  opacity: 0.90;    
  height: 100vh;
  min-height: 700px;
}

.ui-autocomplete {
  z-index: 99999 !important;
}

#search{  
  /* position: absolute; */
  /* margin-top: 10px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 350px; */
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  background-color: wheat;
  opacity: 0.90;
}

#place_search{  
  border-width: 0px;
 
}

#search label{
  padding: 5px;
}

#search input{
  padding: 5px;
}

.leaflet-control-coordinates .uiElement.label {
  font-size: 14px; 
}

.column {
  padding: 0px;
  padding-top: .75rem;
}

.button_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#cpdatanh {
  margin: 10px;
}

#cpdata {
  margin: 10px;
}
