
html,
body {
  /*height: 100vh;
  padding: 0;
  margin: 0;*/
  font-size: 0.9em;
  /* overflow-x: hidden; */
}

/*
#container {
  height: 100%;
}
*/

/* #map {    
  height: 100vh;
  min-height: 500px;
} */

div.info_box {
  background: red;    
  width: 100px;
  height: 100px;  
}

.about{
  text-align: right;
  margin-right: 1.5rem;
  margin-bottom: 5px;
  margin-left: 1rem;
  padding-bottom: 15px;
}

#info{
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 20px;  
  z-index: 9999;
  /*border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;*/  
  opacity: 0.90;    
  /*height: 100vh;
  min-height: 700px;*/
}

.fields_container{
  display: flex;
  flex-direction: column;
}

.ui-autocomplete {
  z-index: 99999 !important;
}
.button.is-primary{
  background-color:teal;
}
.button.is-success{
  background-color: mediumseagreen;
}

#place_search{  
  border-width: 0px; 
  min-width: 265px;
  font-size: 1.3em;
}


#search_label{
  font-size: 1.3em;
}

#capture{
  font-size: 1.2em;
  background-color: teal;
  color: white;
  border: 1px;
  border-color: black;
}

.leaflet-control-coordinates .uiElement.label {
  font-size: 14px; 
}

.column {
  padding: 0px;
  padding-top: .75rem;
}

.button_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#cpdatanh {
  margin: 10px;
}

#cpdata {
  margin: 10px;
}

.leaflet-verticalcenter {
  position: absolute;
  z-index: 1000;  
  top: 40px; /* possible because the placeholder's parent is the map */
  left: 30%;
  transform: translateY(-50%); /* using the CSS3 Transform technique */
  padding-top: 10px;
}

#map {
  height: 100vh; /* Set map height to a specific value */
}

/* search styles */
/* #search{  
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  background-color: wheat;
  opacity: 0.90;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
}
 */

.search {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 50%; /* Center the search horizontally */
  transform: translateX(-50%); /* Center the search precisely */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 550px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  background-color: wheat;
  opacity: 0.90;
}
.search-element {
  flex: 1;
  text-align: center;
}

/* Media query to adjust search styles on mobile devices */
@media (max-width: 600px) {
  .search {
    flex-direction: column;
  }
  .search-element {
    flex:none;
    margin: 5px 0;
  }
}